# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.idea/sonarlint/issuestore/0/6/0607f785dfa3c3861b3239f6723eb276d8056461
.idea/sonarlint/issuestore/0/f/0f7cfbae7a3ae5ba14ee5334d2c315a90bf237e1
.idea/sonarlint/issuestore/1/5/158a8354e5632e9105a8db071282791b7720d378
.idea/sonarlint/issuestore/1/b/1b8a9c728ebe242b14ab7e5c41c6324017da50ee
.idea/sonarlint/issuestore/3/c/3c84dcdc6bbe3d7817c49dcdc327b926fea1808a
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/a/e/aefc573bbe5e7dbfd1cb575b08d8175c2ee42307
.idea/sonarlint/issuestore/b/a/ba904868846b45d565c98dd33f7ca09442342262
.idea/sonarlint/issuestore/c/f/cf73bbc31f478dbb894254b062c6cccf1502f0ff
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/0/6/0607f785dfa3c3861b3239f6723eb276d8056461
.idea/sonarlint/securityhotspotstore/0/f/0f7cfbae7a3ae5ba14ee5334d2c315a90bf237e1
.idea/sonarlint/securityhotspotstore/1/5/158a8354e5632e9105a8db071282791b7720d378
.idea/sonarlint/securityhotspotstore/1/b/1b8a9c728ebe242b14ab7e5c41c6324017da50ee
.idea/sonarlint/securityhotspotstore/3/c/3c84dcdc6bbe3d7817c49dcdc327b926fea1808a
.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/securityhotspotstore/a/e/aefc573bbe5e7dbfd1cb575b08d8175c2ee42307
.idea/sonarlint/securityhotspotstore/b/a/ba904868846b45d565c98dd33f7ca09442342262
.idea/sonarlint/securityhotspotstore/c/f/cf73bbc31f478dbb894254b062c6cccf1502f0ff
.idea/sonarlint/securityhotspotstore/index.pb
.idea/fintrackgoland.iml
.idea/modules.xml
.idea/vcs.xml
